{% extends "password_creation/base.html" %}
{% block content %}
<div class="text-center">
    <label class="mr-sm-2" for="inlineFormCustomSelect">How many characters the password will be ?</label>
    <form action="{% url 'password-success' %}" method="POST" id="CharLongForm" novalidate class="col-lg-6 offset-lg-3">
        {% csrf_token %}
        {{ form.char_long }}
        <button type="submit" class="btn btn-secondary mt-2 centered">Generate password</button>
    </form>
</div>
<p>{{ password }}</p>
{% endblock content %}