{% extends "password_creation/base.html" %}
{% block content %}
<div class="centered">
    <label class="large mt-5" for="inlineFormCustomSelect">The generated password is:</label><br>
    <div class="form-inline centered">
        <input type="text" value="{{ password }}" class="form-control centered" readonly>
    </div>
    <span class="medium text-light">{{ password }}</span> <br>
    <a href="{% url 'password-generator' %}" class="btn btn-secondary small mt-3" role="button">Generate new</a>
</div>
{% endblock content %}