{% extends "password_creation/base.html" %}
{% block content %}
<div class="centered">
    <label class="large mt-5" for="inlineFormCustomSelect">How many characters will the password be
        ?</label>
    <form action="{% url 'password-success' %}" method="POST" id="CharLongForm" novalidate class="col-lg-6 offset-lg-3">
        {% csrf_token %}
        {{ form.char_long }}
        <button type="submit" class="small btn btn-secondary mt-3">Generate password</button>
    </form>
</div>
{% endblock content %}