{% extends "password_creation/base.html" %}
{% block content %}
<div class="text-center animated zoomInUp delay-0.1s">
    <label class="mr-sm-2" style="font-size: 30px;" for="inlineFormCustomSelect">How many characters will the password be ?</label>
    <form action="{% url 'password-success' %}" method="POST" id="CharLongForm" novalidate class="col-lg-6 offset-lg-3">
        {% csrf_token %}
        {{ form.char_long }}
        <button type="submit" style="font-size: 20px;" class="btn btn-secondary mt-2 centered">Generate password</button>
    </form>
</div>
{% endblock content %}