{% extends "password_creation/base.html" %}
{% block content %}
<h1 class="centered mt-5">{{ view_var }}</h1>
<div class="card mx-auto text-dark {% if form.errors %} animated shake faster {% endif %}" style="width: 20rem;">
    <article class="card-body">
        <form method="POST" novalidate autocomplete="off">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %} has-error has-feedback {% endif %}">
                {{ field.label }}:
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </article>
</div>
{% endblock content %}