{% extends "password_creation/base.html" %}
{% block content %}
{% if personal_passwords %}
<div class="grid-container">
    {% for personal_password in personal_passwords %}
    <div class="modal fade" id="{{ personal_password.app_name}}Modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Your password for {{personal_password.app_name}}:
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center"> {{ personal_password.password }}
                </div>
            </div>
        </div>
    </div>
    <div class="animated zoomInUp grid-item shadow p-3 mb-5">
        <p class="text">{{ personal_password.app_name }}</p>
        <button class="button" id="PasswordShowerButton" data-toggle="modal"
            data-target="#{{ personal_password.app_name }}Modal">Show Password</button>
        <div class="grid-item-icons">
            <a href="{% url 'personal-password-delete' personal_password.id %}"><span><i
                        class="fas fa-trash-alt"></i></span></a>
            <a href="{% url 'personal-password-update' personal_password.id %}"><span><i
                        class="fas fa-pen"></i></span></a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="no-passwords" class="animated">Currently you don't have any saved passwords. <br> <a
        href="{% url 'personal-password-creation' %}">Click here</a> to add some</p>
{% endif %}
{% endblock content %}