{% extends 'password_creation/base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
</form>
<div class="grid-container">
    {% for personal_password in personal_passwords %}
    <div class="grid-item">
        <span> Password - {{ personal_password.password }}</span> <br>
        <span> App - {{ personal_password.app_name }}</span> <br>
        <a href="{% url 'personal-password-delete' personal_password.id %}"><span>Delete</span></a>
        <a href="{% url 'personal-password-update' personal_password.id %}"><span>Update</span></a>
    </div>
    {% endfor %}
</div>
{% endblock content %}