{% extends "password_creation/base.html" %}
{% block content %}
<div class="card mx-auto text-dark" style="width: 20rem;">
    <article class="card-body">
        <form method="POST" novalidate autocomplete="off">
            {% csrf_token %}
            <div class="medium form-group">
                <label for="AppNameInput">App name:</label>
                {{ form.app_name }}
            </div>
            <div class="medium form-group">
                <label for="AppPasswordInput">Password:</label>
                {{ form.password }}
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="PasswordUnhide" onclick="passwordunhide();">
                <label class="form-check-label" for="PasswordUnhide">Unhide password</label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </article>
</div>
{% endblock content %}