{% extends "password_creation/base.html" %}
{% block content %}
<form method="POST" novalidate>
    <div style="font-size: 20px;" class="form-group text-center animated zoomInUp">
        {% csrf_token %}
        <label for="AppName">App name:</label>
        {{ form.app_name }}
        <label for="Password"></label>
        {{ form.password }}
    </div>
    <div class="text-center">
    	<button type="submit" style="font-size: 20px;" class="btn btn-secondary animated zoomInUp">Submit</button>
    </div>
</form>
{% endblock content %}