{% extends "password_creation/base.html" %}
{% block content %}
<h1 class="centered mt-5">Sign In</h1>
<div class="card mx-auto text-dark {% if form.errors %} animated shake faster{% endif %}" style="width: 20rem;">
  <article class="card-body">
    <form class="login" method="POST" action="{% url 'account_login' %}" novalidate>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group {% if field.errors %} has-error has-feedback {% endif %}">
        {{ field.label }}:
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}
      <div class="form-group">
        <button class="primaryAction btn btn-block btn-secondary" type="submit">Sign
          In</button>
      </div>
    </form>
    <small>Still don't have an account?<a href="{{ signup_url }}" id="SignUpAnchor"> Sign up</a></small>
  </article>
</div>
{% endblock %}