{% extends "password_creation/base.html" %}
{% block content %}
<h1 class="centered mt-5">Sign Up</h1>
<div class="card mx-auto text-dark{% if form.errors %} animated shake faster{% endif %}" style="width: 20rem;">
  <article class="card-body">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
        {{ field.label }}:
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}
      <div class="form-group">
        <button class="primaryAction btn btn-block btn-secondary" type="submit">Sign Up</button>
      </div>
    </form>
    <small>Already have an account?<a href="{{ login_url }}" id="SignInAnchor"> Sign in</a></small>
  </article>
</div>
{% endblock %}