html * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  color: white !important;
  background-color: #212529 !important;
}

.centered {
  text-align: center;
}

 /* Personal passwords view  */
.grid-container {
  align-content: start;
  margin-left: 200px;;
  margin-right: 100px;
  margin-top: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, minmax(auto, 350px));
}
.grid-item{
  font-size: 30px;
}

.grid-item-icons {
  margin-top: 5px;
  text-align: right;
  color: #6c757d;
}

/* Personal passwords view */


.small {
  font-size: 20px !important;
}

.medium {
  font-size: 30px !important;
}

.large {
  font-size: 40px !important;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}
