html * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

body {
  color: #fff !important;
  background-color: #212529 !important;
}

 /* Personal passwords view  */
.grid-container {
  align-content: start;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, minmax(auto, 350px));
}
.grid-item{
  font-size: 30px;
}

.grid-item-icons {
  margin-top: 5px;
  text-align: right;
  color: #6c757d;
}

.no-passwords {
  font-size: 40px;
}

/* Personal passwords view */

a:link {
  color: #6c757d;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.button:hover {
  color: #212529;
  text-decoration: none;

  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.button:focus, .button.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.small {
  font-size: 20px !important;
}

.medium {
  font-size: 30px !important;
}

.large {
  font-size: 40px !important;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}